* {
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}   

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
  width: 100%;
}

.card-heading {
  font-size: 1.1rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 1rem;
}

.card-text {
  font-size: 0.875rem;
  color: hsl(218, 15%, 66%);
  margin: 1rem;
}
