/* ========================= FONTS ========================= */
@font-face {
  font-family: "Figtree";
  src: url("./fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Figtree";
  src: url("./fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
} 


/* ========================= PAGE ========================= */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4d04e;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


/* ========================= CARD — MOBILE FIRST ========================= */
.card {
  width: 327px;
  padding: 24px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 8px 8px 0 rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
}


/* ========================= BLOG IMAGE ========================= */
img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* ========================= CARD CONTENT ========================= */
.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* CATEGORY */
.category {
  width: fit-content;
  padding: 4px 12px;
  background-color: #f4d04e;
  border-radius: 4px;
}

.category span {
  font-size: 12px;
  font-weight: 800;
  line-height: 150%;
}

/* DATE */
.card__date span {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  color: #111111;
}

/* TITLE */
.card__title h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
}

/* TITLE HOVER */
.card__title h1:hover {
  color: #f4d04e;
  cursor: pointer;
}

/* DESCRIPTION */
.card__description p {
  margin: 0;
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

/* ========================= AUTHOR ========================= */
.card-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author-name {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
}



/* ========================= DESKTOP ========================= */
@media (min-width: 768px) {

  .card {
    width: 384px;
  }

  img {
    height: 200px;
  }

  .category span {
    font-size: 14px;
  }

  .card__date span {
    font-size: 14px;
  }

  .card__title h1 {
    font-size: 24px;
  }

  .card__description p {
    font-size: 16px;
  }
}