body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #F4D04E;
  display: flex;
  flex-direction: column
}


.card {
  width: 384px;
  height: 522px;
  background-color: #fff;
  box-shadow: 8px 8px 0 rgb(0, 0, 0);
  overflow: hidden;
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  border-radius: 20px;
}

img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.card-author {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.user-pic {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

